<div class="hero">
  <div class="frosty col-xs-10 col-xs-offset-1 text-center">
    <h1>Grow Your Vocabulary. Expand Your Horizons.</h1>
    <%= link_to 'Start Learning', new_user_registration_path, :class => 'btn btn-success' %>
  </div>
</div>

<div class="col-xs-10 col-xs-offset-1 features text-center">
  <div class="col-sm-4">
    <span class="glyphicon glyphicon-education feature-icon"></span>
    <b></b>
    <p>We'll walk you step by step through some of lifes most important lessons</p>
  </div>

  <div class="col-sm-4">
    <span class="glyphicon glyphicon-question-sign feature-icon"></span>
    <b>Test Yourself</b>
    <p></p>
  </div>

  <div class="col-sm-4">
    <span class="glyphicon glyphicon-sunglasses feature-icon"></span>
    <b>Improve Yourself</b>
    <p>Gain the confidence and skills you need to achieve your goals</p>
  </div>
</div>
